<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/button.css"/>
    <link rel="stylesheet" href="/css/modal.css"/>
    <link rel="icon" href="../../public/img/favicon.svg" sizes=" any " type=" image/svg+xml ">
    <title>Spreekbeurt Helper</title>
</head>
<body>