<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css" media="print" onload="this.media='all'">
    <link rel="apple-touch-icon" href="img/icons/icon-512x512.png">
    <link rel="icon" href="/img/favicon.svg" sizes="any" type=" image/svg+xml ">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#00c7b4"/>
    <meta name="Description" content="PWA version of the oba project">
    <title>Spreekbeurt Helper</title>
</head>
<body>