<%- include ("./partials/head.ejs") %>
<div id="modal" class="modal">
    <div id="select-topic" class="modal-content">
        <div id="no-known-subject-topics">
            <p>Kies een onderwerp dat jij leuk vindt!</p>
            <div id="modal-topics-container" class="group-buttons-container">
                <a class="button modal-topic"></a>
            </div>
        </div>
    </div>
</div>
<%- include ("./partials/footer.ejs") %>