<%- include ("./partials/head.ejs") %>
<div id="modal" class="modal">
    <div id="select-group" class="modal-content">
        <div id="known-subject-topics">
            <p>Vul hier jouw onderwerp in:</p>
            <div class="search-container ">
                <input type="text " class="book-search-input " id="modal-search-input"
                       placeholder="Toets hier jouw onderwerp in! "/>
                <a id="modal-search-button" class="button search-button">Zoeken</a>
            </div>
        </div>
    </div>
</div>
<%- include ("./partials/footer.ejs") %>