:root {
    /* All colors */
    --purple: hsl(275, 57%, 50%);
    --purple-dark: hsl(275, 57%, 45%);
    --purple-light: hsl(275, 57%, 55%);
    --pink: hsl(332, 65%, 62%);
    --orange: hsl(34, 97%, 50%);
    --orange-dark: hsl(34, 97%, 45%);
    --orange-light: hsl(34, 97%, 55%);
    --yellow: hsl(53, 100%, 49%);
    --blue: rgb(0, 209, 188);
    --red: rgb(252, 110, 105);
    --red-dark: hsl(2, 96%, 62%);
    --red-light: hsl(2, 96%, 72%);
}

@font-face {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Oxanium Regular'), local('Oxanium-Regular'), url(https://fonts.gstatic.com/s/oxanium/v1/RrQQboN_4yJ0JmiMe2zE0ZJCZ4cQGg.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Oxanium';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Oxanium Regular'), local('Oxanium-Regular'), url(https://fonts.gstatic.com/s/oxanium/v1/RrQQboN_4yJ0JmiMe2LE0ZJCZ4c.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    font-family: 'Oxanium', cursive;
}

body {
    margin: 0;
    background-image: url("../img/background.png");
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-size: 600px;
}

.search-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    width: 400px;
}

.book-search-input {
    font-family: inherit;
    font-size: inherit;
    padding: 12px 20px;
    display: inline-block;
    width: 100%;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
    border-right-style: none;
}

.top-section, .main-section {
    margin: 1em;
}

.book-results-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book-result {
    display: flex;
    flex-direction: column;
    background-image: url("../img/book-background.png");
    background-repeat: repeat;
    background-size: 450px;
    padding: 1em;
    width: 195px;
    border-radius: 0.5em;
    margin: 1em 0.5em;
}

.book-title, .book-description {
    margin: 0px;
}

.book-title {
    font-size: 20px;
}

.book-description {
    margin-top: 0.5em;
    font-size: 16px;
    flex-grow: 1;
}

.group-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: -1em;
}

.book-cover-image {
    width: 100%;
    height: auto;
    padding-bottom: 16px;
}

#book-detail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--blue);
    border-radius: 0.5em;
    margin: 1em 0.5em;
    padding: 1em;
}

.book-detail-result {
    display: flex;
}

.book-detail-header{
    width: 100%;
}

.book-detail-cover-image{
    margin-right: auto;
}

.book-detail-text {
    padding-left: 16px;
}

.book-detail-result {
    alignment: left;
}

.top-section{
    display: flex;
}

#main-search{
    margin-left: auto;
}

.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.loader {
    padding: 16px;
    width: 48px;
    height: 48px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button {
    display: block;
    height: 44px;
    width: fit-content;
    margin: 0 1em 1em 0;
    padding: 0 1em;
    background-color: var(--orange);
    color: black;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    line-height: 48px;
    text-decoration: none;
    border-radius: 4px;
    text-shadow: 0 -1px -1px var(--orange-dark);
    box-shadow: 0 4px 0 var(--orange-dark), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    transition: all .1s ease-in-out;
    /* Make text not selectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button:hover {
    background-color: var(--orange-light);
    cursor: pointer;
    text-shadow: 0 -1px -1px var(--orange-dark);
    box-shadow: 0 4px 0 var(--orange-dark), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.button:active {
    transform: translateY(4px);
    box-shadow: none;
}

/* Book button */

.red-button {
    font-size: 1em;
    background-color: var(--red);
    text-shadow: 0 -1px -1px var(--red-dark);
    box-shadow: 0 4px 0 var(--red-dark), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
    height: 2em;
    width: initial;
    padding: 0 0.75em;
    margin: 8px 0;
    line-height: calc(2em + 2px);
}

.red-button:hover {
    background-color: var(--red-light);
    text-shadow: 0 -1px -1px var(--red-dark);
    box-shadow: 0 4px 0 var(--red-dark), 0 5px 5px 1px rgba(0, 0, 0, 0.4);
}

.red-button:active {
    transform: translateY(4px);
    box-shadow: none;
}

/* Search button */

.search-button {
    color: white;
    background-color: var(--purple);
    text-shadow: none;
    box-shadow: none;
    margin: 0;
    line-height: 45px;
    font-size: 1em;
    font-weight: normal;
    border-radius: 0 4px 4px 0;
    border: 1px solid var(--purple);
}

.search-button:hover {
    background-color: var(--purple);
    text-shadow: none;
    box-shadow: none;
}

.search-button:active {
    background-color: var(--purple-dark);
    transform: none;
    box-shadow: none;
    transition: none;
}

.book-detail-back-button {
    margin-right: auto;
    width: 15%;
    margin-bottom: 24px;
}

#more-books-button {
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
}

