<%- include ("./partials/head.ejs") %>
<div id="modal" class="modal">
    <div id="select-group" class="modal-content">
        <h2>Welkom bij de spreekbeurt helper!</h2>
        <p>In welke groep zit je?</p>
        <div id="modal-group-container" class="group-buttons-container">
            <% for (let group in groups) { %>
                <a class="button modal-group" href="group/<%= groups[group].match(/\d+$/)[0]; %>">
                    <%= groups[group] %>
                </a>
            <% } %>
        </div>
    </div>
</div>
<%- include ("./partials/footer.ejs") %>