<script>
    if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
            navigator.serviceWorker.register('/service-worker.js')
                .then(reg => {
                    console.log('Register service worker', reg);
                })
                .catch(err => {
                    console.log('Error register service worker ', err);
                });
        });
    }
</script>
</body>
</html>